openapi: 3.2.0
info:
  title: Amazon KMS Cryptographic Operations Keys API
  description: The Amazon KMS API provides programmatic access to manage KMS resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://kms.us-east-1.amazonaws.com
  description: Amazon KMS endpoint
security:
- sigv4: []
tags:
- name: Keys
  description: KMS cryptographic key management
paths:
  /keys:
    post:
      operationId: CreateKey
      summary: Amazon KMS Create Key
      description: Creates a unique customer managed KMS key in your AWS account and Region.
      tags:
      - Keys
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListKeys
      summary: Amazon KMS List Keys
      description: Gets a list of all KMS keys in the caller's AWS account and Region.
      tags:
      - Keys
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keys/{KeyId}:
    get:
      operationId: DescribeKey
      summary: Amazon KMS Describe Key
      description: Provides detailed information about a KMS key.
      tags:
      - Keys
      parameters:
      - name: KeyId
        in: path
        required: true
        schema:
          type: string
        description: Identifies the KMS key to describe.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keys/{KeyId}/enable:
    post:
      operationId: EnableKey
      summary: Amazon KMS Enable Key
      description: Sets the key state of a KMS key to enabled.
      tags:
      - Keys
      parameters:
      - name: KeyId
        in: path
        required: true
        schema:
          type: string
        description: Identifies the KMS key.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keys/{KeyId}/disable:
    post:
      operationId: DisableKey
      summary: Amazon KMS Disable Key
      description: Sets the state of a KMS key to disabled.
      tags:
      - Keys
      parameters:
      - name: KeyId
        in: path
        required: true
        schema:
          type: string
        description: Identifies the KMS key.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keys/{KeyId}/deletion:
    post:
      operationId: ScheduleKeyDeletion
      summary: Amazon KMS Schedule Key Deletion
      description: Schedules the deletion of a KMS key.
      tags:
      - Keys
      parameters:
      - name: KeyId
        in: path
        required: true
        schema:
          type: string
        description: Identifies the KMS key.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
