openapi: 3.1.0
info:
  title: Amazon KMS Cryptographic Operations API
  description: The Amazon KMS API provides programmatic access to manage KMS resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://kms.us-east-1.amazonaws.com
  description: Amazon KMS endpoint
security:
- sigv4: []
tags:
- name: Cryptographic Operations
  description: Encryption, decryption, and signing operations
paths:
  /keys/{KeyId}/encrypt:
    post:
      operationId: Encrypt
      summary: Amazon KMS Encrypt
      description: Encrypts plaintext of up to 4,096 bytes using a KMS key.
      tags:
      - Cryptographic Operations
      parameters:
      - name: KeyId
        in: path
        required: true
        schema:
          type: string
        description: Identifies the KMS key.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /decrypt:
    post:
      operationId: Decrypt
      summary: Amazon KMS Decrypt
      description: Decrypts ciphertext that was encrypted by a KMS key.
      tags:
      - Cryptographic Operations
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keys/{KeyId}/data-key:
    post:
      operationId: GenerateDataKey
      summary: Amazon KMS Generate Data Key
      description: Returns a unique symmetric data key for use outside of KMS.
      tags:
      - Cryptographic Operations
      parameters:
      - name: KeyId
        in: path
        required: true
        schema:
          type: string
        description: Identifies the KMS key.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keys/{KeyId}/sign:
    post:
      operationId: Sign
      summary: Amazon KMS Sign
      description: Creates a digital signature for a message or message digest using an asymmetric KMS key.
      tags:
      - Cryptographic Operations
      parameters:
      - name: KeyId
        in: path
        required: true
        schema:
          type: string
        description: Identifies the KMS key.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keys/{KeyId}/verify:
    post:
      operationId: Verify
      summary: Amazon KMS Verify
      description: Verifies a digital signature that was generated by the Sign operation.
      tags:
      - Cryptographic Operations
      parameters:
      - name: KeyId
        in: path
        required: true
        schema:
          type: string
        description: Identifies the KMS key.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
